<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Syne-Regular.ttf</string>
		<string>Syne-Medium.ttf</string>
		<string>Syne-SemiBold.ttf</string>
		<string>Syne-Bold.ttf</string>
		<string>Syne-ExtraBold.ttf</string>
		<string>Aloevera.ttf</string>
		<string>AngelinaPersonal.ttf</string>
		<string>BoogieBoysExtrude.otf</string>
		<string>DarlingtonDemo.ttf</string>
		<string>Dirtyboy.ttf</string>
		<string>EnjelinaDemo.ttf</string>
		<string>Inferno.ttf</string>
		<string>KingstoneDemoRegular.ttf</string>
		<string>KnightWarrior.otf</string>
		<string>MonainnRegular.otf</string>
		<string>MouldyCheeseRegular.ttf</string>
		<string>RustyAttackDemo.otf</string>
		<string>Scripto.ttf</string>
		<string>SkiwarRegular.otf</string>
		<string>SoulsideBetrayed.ttf</string>
		<string>SuperFunky.ttf</string>
		<string>SuperRugged.ttf</string>
		<string>SuperScribble.ttf</string>
		<string>TheHeartOfEverythingDemo.ttf</string>
		<string>VeryVeryPunkFont.ttf</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>This identifier will be used to deliver personalized ads to you.</string>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
</dict>
</plist>
